/* footer */
.main-footer-container {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo-footer {
  display: block;
  margin-bottom: 20px;
}
.logo-footer-icon {
  width: 153px;
  height: 31px;
}

.address {
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  // margin-right: 69px;
}
.address-item-link {
  color: rgba(255, 255, 255, 0.6);
}
.address-item-link.maps {
  color: #ffffff;
}
.social-container-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  // display: block;
}
.social-container-list {
  display: flex;
  // justify-content: space-around;
}

.footer-logo {
  margin-bottom: 20px;
}
.address-item:not(:last-child) {
  margin-bottom: 9px;
}
.social-container-text {
  display: flex;
  justify-content: center;
  // padding-top: 65px;
  margin-bottom: 20px;
  margin-top: 60px;
  // @media screen and (min-width: 1200px) {
  //   margin-top: 0p;
  // }
}
.social-container-list-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-container-list-item {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social-container-list-item :hover {
  background-color: $accent-color;
}
.social-list-item-link-icon-footer {
  width: 20px;
  height: 20px;
  fill: #ffffff;

  &:hover {
    background-color: transparent;
  }
}
@media screen and (max-width: 767px) {
}
@media screen and (min-width: 768px) {
  .footer-social-adress-container {
    display: flex;
    // align-items: center;
  }
  .logo-container {
    margin-right: 165px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-container {
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .social-container-text {
    margin-top: 5px;
  }
  .footer-form {
    display: flex;
  }
  .social-container {
    margin-right: 93px;
  }
  .footer-email-form {
    margin-right: 20px;
  }
}
