/* header */

.header-page {
  position: relative;
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-nav-item-link {
  display: inline-block;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: center;
  color: $main-color-title;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.active-page {
  position: relative;
  &:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
    display: block;
    bottom: 0;
    left: 0;
  }
}

.adress-item-link {
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #757575;
}

.adress-utils {
  display: flex;
  justify-content: center;
  align-items: center;
}
.adress-item {
  text-align: center;
}
.adress-item-link {
  color: $main-color-text;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.adress-item-link-icon {
  fill: currentColor;
}

@media screen and (min-width: 480px) {
}
@media screen and (max-width: 767px) {
  .header-page {
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .header-menu-wrapper {
    position: absolute;
    display: none;
    background-color: #ffffff;
    width: 480px;
    height: 453px;
    top: 100%;
    left: 0;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    border-top: 1px solid #ececec;
    &.is-open {
      display: block;
    }
  }
  .main-nav-item:not(:last-child) {
    margin-bottom: 40px;
  }
  .main-nav-item-link {
    font-size: 18px;
    line-height: 1.17;
  }
  .header-menu-button {
    background-color: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    &:hover {
      fill: #2196f3;
    }
    &.is-open {
      .icon-burger {
        display: none;
      }
      .icon-close {
        display: block;
      }
    }
  }
  .icon-close {
    display: none;
  }
  .main-nav-item-link {
    font-size: 18px;
    line-height: 1.17;
    width: 66px;
    height: 33px;
  }
  .adress-item-link {
    font-size: 18px;
    line-height: 1.17;
  }
  .adress-utils {
    margin-top: 60px;
  }
  .adress-item {
    margin-bottom: 16px;
  }
  .adress-item-link-icon {
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  .header-page {
    display: flex;
    align-items: center;

    // padding-top: 20px;
    // padding-bottom: 20px;
  }

  .header-menu-button {
    display: none;
  }
  .header-menu-wrapper {
    display: flex;
  }
  .main-nav-list {
    display: flex;
  }

  // .main-nav-item-link {
  //   padding-top: 32px;
  //   padding-bottom: 32px;
  //   font-size: 14px;
  //   line-height: 1.14;
  // }
}

@media screen and (max-width: 1599px) {
  .header-page {
    padding-right: 15px;
    padding-left: 15px;
    justify-content: space-between;
  }
  .main-nav-list {
    margin-right: 81px;
  }
  .main-nav-item:not(:last-child) {
    margin-right: 50px;
  }
  .main-nav-item-link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
  .adress-item-link {
    font-size: 12px;
    line-height: 1.666;
  }
  .adress-item:not(:last-child) {
    margin-bottom: 10px;
  }
  .adress-item-link-icon {
    margin-right: 8px;
  }
}
@media screen and (min-width: 1600px) {
}
