/* hero */
.hero {
  margin: 0 auto;
}

.hero {
  width: 480px;
  height: 400px;
  background-image: url("../../images/hero-mobile.jpg");
  background-size: 480px 320px;
  background-position: center;
  background-repeat: no-repeat;
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-width: 320px) {
    .hero {
      background-image: url("../../images/hero-var/hero-mobile@2x.jpg");
    }
  }
  @media screen and (max-width: 767px) {
    padding-top: 118px;
    padding-bottom: 118px;
    padding-left: 60px;
    padding-right: 60px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    height: 400px;
    background-image: url("../../images/hero-var/hero-tablet.jpg");
    background-size: 768px 400px;
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      .box {
        background-image: url("../../images/hero-var/hero-tablet@2x.jpg");
      }
    }
  }
  @media screen and(min-width:768px) and (max-width: 1199px) {
    padding-top: 118px;
    padding-bottom: 118px;
    padding-left: 204px;
    padding-right: 204px;
  }
  @media screen and (max-width: 1200px) {
    .hero-title {
      font-weight: 900;
      font-size: 26px;
      line-height: 1.62;
      text-align: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      margin-bottom: 40px;

      color: $grand-title-color;
    }
  }
  @media screen and (min-width: 1200px) {
    padding-top: 118px;
    padding-bottom: 118px;
    padding-left: 60px;
    padding-right: 60px;
    width: 1200px;
    height: 600px;
    background-image: url("../../images/hero-var/hero-desktop.jpg");
    background-size: 1200px 600px;
    background-repeat: no-repeat;
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      .box {
        background-image: url("../../images/hero-var/hero-desktop@2x.jpg");
      }
    }
    .hero-title {
      font-weight: 900;
      font-size: 44px;
      line-height: 1.36;
      text-align: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      margin-bottom: 40px;

      color: $grand-title-color;
    }
  }
  // .hero-color {
  //   background-image: linear-gradient(
  //     rgba(47, 48, 58, 0.8),
  //     rgba(47, 48, 58, 0.8)
  //   );
  // }
  // .hero-image {
  //   background-image: ();
  //   background-repeat: no-repeat;
  //   // max-width: 1600px;
  // }
}
